html {
    overflow-y: scroll;
}

/* Align content with certain parts of the page.*/
h1 {
    text-align: center;
    align-content: center;
    font-Family: Calibri, Times New Roman, Arial;   
    font-size: 48px;
    color: darkblue;
}

h2 {
    font-family: Calibri, 'Times New Roman', Arial;
    font-size: 36px;
    color: darkblue;
}

/*Table of contents section*/
#toc {
    text-align: center;
    color: darkblue;
    font-size: 30px;
}


.toc {
    list-style-type: none;
    width: 190px;
    position: absolute;
    font-size: 18px;
}

.toc li {
    list-style: none;
}

#presented li{
    list-style: none;
    font-family: Calibri, 'Times New Roman', Arial;
    font-size: 20px;
}


/*Content of the page*/
#content {
    width: 70%;
    margin: auto;
    top: 50px;
    text-align: center;
}

/*These take care of alightments of list items found in content paragraphs*/
#content p {
   text-align: left;
}


#content ol {
    text-align: left;
}

#content ol li{
    padding-top: 1em;
}

#content .decomposition{
    width: 400px;
    margin: 10px;
    text-align: left;
    list-style: none;
}

#content .decomposition ol li{
text-align: left;
list-style: none;
}

.overview {
    list-style: none;
}

/*Different parts of the style sheet*/
h3 {
    text-align: center;
    align-content: center;
    font-Family: Calibri, Times New Roman, Arial;
    font-size: 28px;
    color: darkblue;
}






